absl-py==2.1.0
aioice==0.9.0
aiortc==1.9.0
altair==5.2.0
annotated-types==0.6.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astroid==3.2.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
Automat==22.10.0
av==12.3.0
babel==2.16.0
backcall==0.2.0
bandit==1.7.9
bcrypt==4.1.3
beautifulsoup4==4.12.3
black==24.4.2
bleach==6.1.0
blinker==1.7.0
blis==1.0.1
branca==0.7.2
bs4==0.0.2
cachetools==5.3.3
catalogue==2.0.10
category-encoders==2.6.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cmake==3.25.2
colorama==0.4.6
comm==0.2.2
comtypes==1.4.2
confection==0.1.4
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.5
cssselect==1.2.0
cvzone==1.6.1
cycler==0.12.1
cymem==2.0.8
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
Django==5.0.3
dlib==19.24.2
dnspython==2.7.0
docopt==0.6.2
docx2txt==0.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.1.0
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.8.0.post1
Faker==30.1.0
fastapi==0.114.0
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
ffprobe==0.5
filelock==3.13.1
flake8==7.1.0
Flask==3.0.2
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.51.0
fpdf==1.7.2
fqdn==1.5.1
fsspec==2024.9.0
future==1.0.0
G6_iris_recognition==0.0.8
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
google-crc32c==1.6.0
google-pasta==0.2.0
grpcio==1.64.0
h11==0.14.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.25.1
hyperlink==21.0.0
idna==3.6
ifaddr==0.2.0
imageio==2.34.1
imbalanced-learn==0.12.3
imblearn==0.0
imutils==0.5.4
incremental==22.10.0
ipykernel==6.29.5
ipython==8.12.3
isoduration==20.11.0
isort==5.13.2
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.context==5.3.0
jax==0.4.26
jaxlib==0.4.26
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonify==0.5
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.3.3
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==5.1.0
mando==0.7.1
marisa-trie==1.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.13
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.3.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
murmurhash==1.0.10
mypy==1.10.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==9.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pbr==6.0.0
pdfminer.six==20231228
phonenumbers==8.13.38
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.2
plotly==5.24.1
pooch==1.8.2
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
Protego==0.3.0
protobuf==4.25.3
psutil==6.0.0
pure_eval==0.2.3
pyarrow==15.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycaw==20240210
pycodestyle==2.12.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.8.1b0
PyDispatcher==2.0.7
pyee==12.0.0
pyenchant==3.2.2
pyflakes==3.2.0
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pylibsrtp==0.10.0
pylint==3.2.3
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyresparser==1.0.6
pyrsistent==0.20.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.9
python_speech_features==0.6
pywin32==306; sys_platform == 'win32'
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.2.0
queuelib==1.6.2
radon==6.0.1
referencing==0.34.0
regex==2024.4.28
requests==2.31.0
requests-file==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
Scrapy==2.11.1
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==3.1.1
service-identity==24.1.0
setuptools==75.1.0
six==1.16.0
sk-video==1.1.10
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.38.4
statsmodels==0.14.3
stevedore==5.2.0
streamlit==1.39.0
streamlit-webrtc==0.47.9
streamlit_folium==0.20.0
sympy==1.13.3
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
terminado==0.18.1
textblob==0.18.0.post0
thinc==8.3.2
threadpoolctl==3.5.0
tifffile==2024.6.18
tinycss2==1.3.0
tk==0.1.0
tldextract==5.1.1
tokenizers==0.20.0
toml==0.10.2
tomlkit==0.12.5
toolz==0.12.1
torch==2.4.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.45.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typer==0.9.4
types-python-dateutil==2.9.0.20240906
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.30.6
w3lib==2.1.2
wasabi==1.1.2
watchdog==4.0.0
wcwidth==0.2.13
weasel==0.3.4
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
wheel==0.44.0
wikipedia==1.4.0
wolframalpha==5.1.3
wordcloud==1.9.3
wrapt==1.16.0
xmltodict==0.13.0
xyzservices==2024.4.0
yarg==0.1.9
zope.interface==6.2
