mysql-connector-python
streamlit
streamlit-webrtc
opencv-python-headless  # Smaller version of OpenCV for non-GUI environments
face_recognition
SpeechRecognition
cmake==3.18.4  # Pin to a stable version
dlib==19.24.2
numpy
matplotlib
seaborn
plotly
cryptography
textblob
pandas
Pillow
spacy
en-core-web-sm
